<div class="slds-media header-container slds-p-around--small">
	<div class="slds-media__figure">
	    <img src="http://placehold.it/50x50" alt="Placeholder" />
	  </div>
	  <div class="slds-media__body">
	    <p class="slds-text-heading--label">Project</p>
	    <h2 class="slds-m-top--small slds-text-heading--small">New Project</h2>
	  </div>
	
	<div class="slds-button-group" role="group">
		<button class="slds-button slds-button--neutral" {{action "resetWizard"}}>Cancel</button>
		{{#if canGoBack}}
			<button class="slds-button slds-button--neutral" {{action "goToStep" previousStep}}>Back</button>
		{{/if}}
		{{#if canGoNext}}
			<button class="slds-button slds-button--brand" {{action "goToStep" nextStep}}>Next</button>
		{{/if}}
	</div>
</div>

<div class="slds-grid">
	<ul class="slds-list--horizontal wizard-progress-list slds-container--right slds-container--large slds-m-vertical--medium">
		{{#each progressSteps as |progressStep index|}}
			<li class="slds-list__item slds-p-right--small progress-item" id="progressStep_{{index}}" {{action "goToStep" index}}>{{progressStep.name}}</li>
		{{/each}}
	</ul>
</div>

{{outlet}}

<div class="slds-media header-container slds-p-around--small slds-m-top--medium">
	<div class="slds-media__figure">
		&nbsp;
	</div>
	<div class="slds-media__body">
		<span class="slds-text-heading--label">Project Setup Wizard Version 0.7.5</span>
	</div>
	<div class="slds-button-group" role="group">
		<button class="slds-button slds-button--neutral" {{action "resetWizard"}}>Cancel</button>
		{{#if canGoBack}}
			<button class="slds-button slds-button--neutral" {{action "goToStep" previousStep}}>Back</button>
		{{/if}}
		{{#if canGoNext}}
			<button class="slds-button slds-button--brand" {{action "goToStep" nextStep}}>Next</button>
		{{/if}}
	</div>
</div>
