<div class="slds-text-heading--label underline">Deploy</div>

<div class="app slds-m-top--medium">
  <div id="responses"></div>
  <div id="loader" style="display:none">
    <div class="slds-spinner--medium" style="display:inline-block">
      <img src="" alt="Loading..." />
    </div>
    <span id="loaderText"></span>
  </div>
</div>

<form class="slds-form--horizontal">
	<div class="slds-form-element">
		<label class="slds-form-element__label" for="projectName">
			Project Name
		</label>
		<div class="slds-form-element__control">
			{{model.projectName}}
		</div>
	</div>
	<div class="slds-form-element">
		<label class="slds-form-element__label" for="packageName">
			Package Name
		</label>
		<div class="slds-form-element__control">
			{{model.packageName}}
		</div>
	</div>
	<div class="slds-form-element">
		<label class="slds-form-element__label" for="projectDescription">
			Project Description
		</label>
		<div class="slds-form-element__control">
			{{model.projectDescription}}
		</div>
	</div>
	<div class="slds-form-element">
		<label class="slds-form-element__label" for="namespace">
			Namespace
		</label>
		<div class="slds-form-element__control">
			{{model.namespace}}
		</div>
	</div>
	<div class="slds-form-element">
		<label class="slds-form-element__label" for="namespace">
			Team Members
		</label>
		<div class="slds-form-element__control">
			<ul>
				{{#each model.teamMembers key="@index" as |tm|}}
					<li>{{tm.name}} ({{tm.githubHandle}}) - {{tm.role}}</li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="slds-form-element">
		<label class="slds-form-element__label" for="namespace">
			Environments
		</label>
		<div class="slds-form-element__control">
			<ul>
				{{#each model.environments key="branchName" as |env|}}
					{{#if env.isSelected}}<li>{{env.name}} ({{env.branchName}})</li>{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="slds-form-element">
		<label class="slds-form-element__label" for="namespace">
			Accelerators & Tooling
		</label>
		<div class="slds-form-element__control">
			<ul>
				{{#each model.repositories key="url" as |repo|}}
					{{#if repo.isSelected}}<li>{{repo.name}} ({{repo.url}})</li>{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
	{{#if isNotDeploying}}
		<div class="slds-form-element">
			<label class="slds-form-element__label" for="deploy">
				Deploy
			</label>
			<div class="slds-form-element__control">
				<button class="slds-button slds-button--neutral slds-button--green" {{action 'readyTheDeploy'}}>Deploy</button>
			</div>
		</div>
	{{/if}}
</form>
