<div class="slds-text-heading--label underline">Team Members</div>

<p class="slds-text-body--small">Add all your team members for this project. To speed things up, we'll auto-populate details below if the user exists in the database. If no user is found, you'll need to enter Name, Role, Email and GitHub Handle. Please note, you can add additional team members after completing the project setup wizard.</p>

<br />

<form class="slds-form--inline">
	<div class="slds-form-element slds-size--1-of-5 slds-m-around--xx-small">
		<label class="slds-form-element__label">Name</label>
	</div>
	<div class="slds-form-element slds-size--1-of-6 slds-m-around--xx-small">
		<label class="slds-form-element__label">Role</label>
	</div>
	<div class="slds-form-element slds-size--1-of-5 slds-m-around--xx-small">
		<label class="slds-form-element__label">E-mail</label>
	</div>
	<div class="slds-form-element slds-size--1-of-5 slds-m-around--xx-small">
		<label class="slds-form-element__label">Github Handle</label>
	</div>
</form>

<form class="slds-form--inline">
	{{#each teamMembers key="@index" as |item|}}
		<div class="slds-form-element slds-size--1-of-5 slds-m-around--xx-small">
			{{item.name}}
		</div>
		<div class="slds-form-element slds-size--1-of-6 slds-m-around--xx-small">
			{{item.role}}
		</div>
		<div class="slds-form-element slds-size--1-of-5 slds-m-around--xx-small">
			{{item.email}}
		</div>
		<div class="slds-form-element slds-size--1-of-5 slds-m-around--xx-small">
			{{item.githubHandle}}
		</div>
		<button {{action "removeMember" item}} class="slds-button slds-button--destructive">Remove</button>
	{{/each}}
</form>

<form class="slds-form--inline">
	<div class="slds-form-element slds-size--1-of-5 slds-m-around--xx-small">
		{{!-- {{#auto-complete options=model selectedValue=selectedTeamMember noMessagePlaceHolderText="No existing person by that name" action="selectItem"}}{{/auto-complete}} --}}
		{{#power-select options=model searchField="name" selected=selectedTeamMember onkeydown=(action "handleKeydown") renderInPlace=true onchange=(action "selectItem") noMatchesMessage="No existing person by that name" as |teamMember|}}
			{{teamMember.name}}
		{{/power-select}}
	</div>
	<div class="slds-form-element slds-size--1-of-6 slds-m-around--xx-small">
		<div class="slds-form-element__control">
			<select id="memberRole" class="slds-select" {{action "updateRole" on="change"}}>
				<option value="none">Choose One...</option>
				{{#each memberRoles key="@index" as |item|}}
					<option value="{{item}}">
						{{item}}
					</option>
				{{/each}}
			</select>
		</div>
	</div>
	<div class="slds-form-element slds-size--1-of-5 slds-m-around--xx-small slds-grid">
		<div class="slds-form-element__control slds-size--3-of-4">
			{{input value=memberEmail class="slds-input"}}
		</div>
		<span class="slds-size--1-of-4 validity-indicator {{if isValidEmail 'valid' 'invalid'}}">{{#if isValidEmail}}&#9745;{{else}}&#9746;{{/if}}</span>
	</div>
	<div class="slds-form-element slds-size--1-of-5 slds-m-around--xx-small slds-grid">
		<div class="slds-form-element__control slds-size--3-of-4">
			{{input value=memberGithub class="slds-input"}}
		</div>
		<span class="slds-size--1-of-4 validity-indicator {{if isValidGithub 'valid' 'invalid'}}">{{#if isValidGithub}}&#9745;{{else}}&#9746;{{/if}}</span>
	</div>
	<button {{action "addAnother"}} class="slds-button slds-button--neutral slds-button--green" disabled={{isNotValidTeamMember}}>Add</button>
</form>
