<div class="slds-text-heading--label underline">Accelerators and Toolings</div>

<p class="slds-text-body--small">Select one or more of the code repositories below and they'll be added to the selected environments and GitHub.</p>

<br />

<h3 class="slds-text-heading--label">Name (URL)</h3>

<form class="slds-form">
	<div class="slds-form-element__control slds-m-vertical--medium">
		<button {{action "selectAllOrNothing"}} class="slds-button slds-button--neutral slds-button--small">Select All/None</button>
	</div>
	{{#each repositories key="name" as |repo|}}
		<div class="slds-form-element__control slds-m-vertical--medium">
			{{input type='checkbox' action="toggleRepo" repo=repo preventDefault=false checked=repo.isSelected}}
			<label class="slds-form-element__label">
				{{repo.name}} ({{repo.url}})
			</label>
		</div>
	{{/each}}
	<div class="slds-form-element__control slds-m-vertical--medium">
		{{input class="slds-input slds-size--1-of-4" value=customRepoURL placeholder="Enter a custom url, starting with https://"}}
		<button {{action "addAnother"}} class="slds-button slds-button--neutral slds-button--green">Add</button>
	</div>
</form>
